.text {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}

.sm {
  font-size: var(--font-size-sm);
}
.base {
  font-size: var(--font-size-base);
}
@media (max-width: 800px) {
  .base {
    font-size: var(--font-size-sm);
  }
}
.lg {
  font-size: var(--font-size-lg);
}
.xl {
  font-size: var(--font-size-xl);
}
.size_2xl {
  font-size: var(--font-size-2xl);
}
@media (max-width: 767px) {
  .size_2xl {
    font-size: var(--font-size-2xl);
  }
}
@media (max-width: 1235px) {
  .size_2xl {
    font-size: var(--font-size-xl);
  }
}

.light {
  font-weight: var(--font-weight-light);
}
.medium {
  font-weight: var(--font-weight-medium);
}
.bold {
  font-weight: var(--font-weight-bold);
}

.description {
  color: var(--color-c-description-text-color);
}
