.marquee_wrapper {
  overflow: hidden;
  white-space: nowrap;
  padding: 1rem;
  position: relative;
  height: fit-content;

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  /* ✅ 흐려지는 마스크 추가 */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  width: 100%;
}
.marquee {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  font-size: 3rem;
  will-change: transform;
}

.left {
  animation: scroll-left 40s linear infinite;
}

.right {
  animation: scroll-right 40s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

@media (max-width: 880px) {
  .marquee_wrapper {
    padding: 0.6rem;
  }

  .marquee {
    font-size: 2.2rem;
    animation: scroll-left 20s linear infinite;
  }
}
