.main_name {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-top: 10rem;
}

.main_name > img {
  width: 40rem;
  height: 40rem;
  border-radius: var(--common-border-radius);
}

@media (max-width: 880px) {
  .main_name span {
    font-size: 1rem;
  }
  .main_name > h1 {
    font-size: 2rem;
  }
  .main_name > img {
    width: 20rem;
    height: 20rem;
    border-radius: 16px;
  }
}
