.footer {
  width: 100%;
  margin-bottom: 5rem;
}
.footer_title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid yellow;
}
.footer_content {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.footer_intro {
  font-size: 4rem;
}
.footer_contact {
  display: flex;
  gap: 0.4rem;
  font-size: 1.2rem;
  text-decoration: underline;
}

@media (max-width: 880px) {
  .footer {
    width: 100%;
    margin-bottom: 5rem;
  }
  .footer_title {
    display: flex;
    font-size: 0.7rem;
  }
  .footer_content {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .footer_intro {
    font-size: 1.2rem;
  }
  .footer_contact {
    display: flex;
    font-size: 1rem;
    text-decoration: underline;
  }
}
