@import "tailwindcss";

:root {
  /* font Size */
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-base: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-2xl: 3rem;
  --font-size-3xl: 5rem;

  /* font Weight */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* spacing */
  --spacing-md: 1rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;

  /* color */
  --color-main-black: rgb(15, 15, 25);
  --color-main-beige: rgb(251, 247, 241);
  --color-main-white: rgb(255, 255, 255);
  --color-sub-white: rgb(200, 212, 237);
  --color-main-gray: rgb(97, 112, 136);
  --color-main-navy: rgb(29, 30, 41);
  --color-main-slate-blue: rgb(112, 128, 144);
}

@theme {
  --color-custom-background: var(--color-main-beige);
  --color-custom-foreground: var(--color-main-slate-blue);
  --color-custom-border-color: var(--color-main-beige);
  --color-custom-description-text-color: var(--color-main-gray);
  --color-custom-header-bg-color: rgb(254, 234, 201);

  /* spacing */
  --spacing-custom-gap-lg: var(--spacing-xl);
  --spacing-custom-gap-md: var(--spacing-md);
  --spacing-custom-gap-xxl: var(--spacing-xxl);
  --spacing-custom-padding: var(--spacing-lg);

  --radius-custom-border-radius: 1rem;
  --radius-custom-image-radius: 1rem;

  /* font Size */
  --font-custom-big-font-size: var(--font-size-3xl);
  --font-custom-middle-font-size: var(--font-size-2xl);
  --font-custom-title-font-size: var(--font-size-xl);
  --font-custom-description-font-size: var(--font-size-base);

  /* animation */
  --animate-fadeUp: fadeUp 1s ease-out forwards;
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.dark {
  --color-custom-background: var(--color-main-black);
  --color-custom-foreground: var(--color-sub-white);
  --color-custom-border-color: var(--color-main-gray);
  --color-custom-description-text-color: var(--color-main-gray);
  --color-custom-header-bg-color: var(--color-main-navy);
}

html,
body {
  max-width: 100vw;
  overscroll-behavior: none;
}

body {
  background: var(--color-custom-background);
  color: var(--color-custom-foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}
