@import "tailwindcss";

:root {
  /* font Size */
  --font-size-xs: 0.8rem;
  --font-size-sm: 1rem;
  --font-size-base: 1.2rem;
  --font-size-lg: 1.4rem;
  --font-size-xl: 1.6rem;
  --font-size-1-5xl: 2rem;
  --font-size-2xl: 3rem;
  --font-size-3xl: 5rem;

  /* font Weight */
  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* spacing */
  --spacing-md: 1rem;
  --spacing-lg: 1.6rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 4rem;

  /* color */
  --color-black: #0e0e0e;
  --color-black-50: #262626;
  --color-black-100: #151515;

  --color-white: #f5f5f5;
  --color-white-50: #d0d0d0;
  --color-white-100: #ededed;

  --color-gray-30: #e5e5e5;
  --color-gray-50: #d4d4d4;
  --color-gray-100: #898686;
  --color-gray-150: #525252;

  --color-gold-50: #c5ad8c;
  --color-gold-100: #b9925f;
}

.dark {
  --color-c-background: var(--color-black);
  --color-c-foreground: var(--color-white);
  --color-c-description-text-color: var(--color-gray-100);
  --color-c-image-bg-color: var(--color-gold-100);
  --color-c-header-bg-color: var(--color-black-50);
  --color-c-border-color: var(--color-gold-100);
  --color-c-point-color: var(--color-gold-100);
  --color-c-box-bg-color: var(--color-black-50);
  --color-c-box-layout-color: var(--color-black-100);
}

@theme {
  --color-c-background: var(--color-white);
  --color-c-foreground: var(--color-black-50);
  --color-c-description-text-color: var(--color-gray-100);
  --color-c-image-bg-color: var(--color-gold-50);
  --color-c-header-bg-color: var(--color-gray-50);
  --color-c-border-color: var(--color-gold-50);
  --color-c-point-color: var(--color-gold-50);
  --color-c-box-layout-color: var(--color-gray-30);
  --color-c-box-bg-color: var(--color-gray-50);

  /* spacing */
  --spacing-c-gap-md: var(--spacing-md);
  --spacing-c-gap-lg: var(--spacing-xl);
  --spacing-c-gap-xxl: var(--spacing-xxl);
  --spacing-c-padding: var(--spacing-lg);
  --spacing-c-padding-md: var(--spacing-md);
  --spacing-c-padding-xxl: var(--spacing-xxl);

  --radius-c-border-radius: 1rem;
  --radius-c-image-radius: 1rem;

  /* font Size */
  --font-c-big-font-size: var(--font-size-3xl);
  --font-c-middle-font-size: var(--font-size-2xl);
  --font-c-title-font-size: var(--font-size-xl);
  --font-c-description-font-size: var(--font-size-base);

  /* animation */
  --animate-fadeUp: fadeUp 1s ease-out forwards;
  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-fadeOut: fadeOut 1s ease-in-out forwards;
  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}

html,
body {
  background: var(--color-c-background);
  color: var(--color-c-foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}
