.sectionBlock {
  /* padding: 2rem 0; */
}

.layout {
  min-height: 100vh;
  /* padding: 2rem; */
  border: 1px solid silver;
}

.header {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  width: 90vw;
  padding-bottom: 2rem;
  border-bottom: 1px solid silver;
}

/*  intro */
.intro {
  display: flex;
  /* gap: 3rem; */
  height: 300vh;
}
/* 
.intro_desc {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50vw;
  position: sticky;
  top: 10%;
  height: fit-content;
}
.intro_desc > h1 {
  font-size: 5rem;
}
.intro_desc > p {
  font-size: 2rem;
}

.intro_image {
  border: 1px solid silver;
  width: 50vw;
  height: 40vw;
  position: sticky;
  top: 10%;
} */

.marquee {
  padding: 2rem 0;
  border-bottom: 1px solid silver;
}
/* experience */

.experience {
  display: flex;
  gap: 3rem;
}
.experience_desc {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50vw;
}

.experience_desc > h1 {
  font-size: 5rem;
}
.experience_desc > p {
  font-size: 2rem;
}

.experience_image {
  border: 1px solid silver;
  width: 50vw;
  height: 40vw;
}

/* project  */
.project {
  display: flex;
  gap: 3rem;
  height: 300vh;
}
.project_desc_sticky {
  /* display: flex;
    flex-direction: column; */
  position: sticky;
  top: 20%;
  gap: 2rem;
  width: 50%;
  height: fit-content;
}

.project_desc_sticky > h1 {
  font-size: 5rem;
}
.project_desc_sticky > p {
  font-size: 2rem;
}

.project_box_layer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}
.project_second_box {
  display: flex;
  gap: 2rem;
}

.project_image {
  border: 1px solid silver;
  min-height: 30vw;
  width: 100%;
}
