.induceScroll {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.arrow_div {
  position: absolute;
  left: calc(50vw - 30px);
  top: calc(50vh - 60px);
  height: 30px;
}

.arrow_first {
  animation: motion 1s ease-out 0s infinite;
}

.arrow_second {
  animation: motion 1s ease-out 1s infinite;
  opacity: 0;
}

@keyframes motion {
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(10px);
  }
  75% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}
