.header_layout {
  padding: 30px 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 1;
  gap: 10rem;
  background-color: #0a0a0a;
}

.header_layout > div {
  cursor: pointer;
}

@media (max-width: 880px) {
  .header_layout {
    display: none;
  }
}
